{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ candidate.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ candidate.lastname }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ candidate.note }}</td>
            </tr>
            <tr>
                <th>Job_title</th>
                <td>{{ candidate.jobTitle }}</td>
            </tr>
            <tr>
                <th>Job_description</th>
                <td>{{ candidate.jobDescription }}</td>
            </tr>
            <tr>
                <th>In_post</th>
                <td>{{ candidate.inPost ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ candidate.avatar }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ candidate.updatedAt ? candidate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidate_index') }}">back to list</a>

    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
